
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;;
    background-color: darksalmon;
}

.container {
    width: 100%;
    max-width: 1250px;
    height: 100vh;
    min-height: 820px; 
    margin: 0 auto;
}

/* header */

.header { 
    padding-top: 20px;
    display: flex;
    width: 100%;    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    position: relative;

}
.header__inner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;    
    text-align: center;
}

.name {
    text-transform: uppercase;
    color: white;
    border-bottom: 3px solid white;
    
}
.photo {  
    padding-top: 10px;         
    width: 100%; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.photo__inner {    
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}

.img {
    width: 140px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1; 
    display: block;
    margin: 0 auto;     
        
}

.list {
    display: block;
    padding-top: 15px;    
    width: 100%; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

.list__inner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.text__inner {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    
    
}

.text__inner:hover {  
    color: teal;
    transition: opacity .2s linear;

}

.text {
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
    
}

.text:hover {
    color: teal;
    transition: opacity .2s linear;
}

