
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;;
    background-color: darksalmon;
}

.container {
    width: 100%;
    max-width: 1250px;
    height: 100vh;
    min-height: 700px; 
    margin: 0 auto;
}

/* header */

.header { 
    padding-top: 20px;
    display: flex;
    width: 100%;    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    position: relative;

}
.header__inner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;    
    text-align: center;
}

.name {
    text-transform: uppercase;
    color: white;
    border-bottom: 3px solid white;
    
}
.photo {  
    padding-top: 20px;         
    width: 100%; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.photo__inner {    
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}

.img {
    width: 140px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1; 
    display: block;
    margin: 0 auto;     
        
}

.section {
    display: flex;
    padding-top: 20px;    
    width: 100%; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    position: relative;
}

.section__inner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.text__inner {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    
    
}

.text__inner:hover {  
    color: teal;
    transition: opacity .2s linear;

}

.text {
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
    
}

.text:hover {
    color: teal;
    transition: opacity .2s linear;
}

.footer {
    display: flex;
    width: 100%;    
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    position: relative;

}
.footer__inner {
    padding-top: 65px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;    
    text-align: center;
}

.footer__name {
    font-size: 18px;    
    color: white;
    border-top: 3px solid white;
    
}

/* media */

@media (max-width:570px){
    .section__inner {
        padding-right: 30px;
        padding-left: 15px;
    }

}

@media (max-width:520px){
    .header__inner {
        width: 100%;
        max-width: 280px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .photo__inner {    
        width: 100%;
        max-width: 280px;
        padding-right: 15px;
        padding-left: 15px;               
    }

    .section__inner {
        width: 100%;
        max-width: 280px;
        padding-right: 28px;
        padding-left: 15px;
    }

    .footer__inner {
        width: 100%;
        max-width: 280px;
        padding-right: 15px;
        padding-left: 15px;
    }

}


